{% extends 'base.html' %}
{% block title %}Editar penalizacion{% endblock %}
{% block body %}
<div class="row">
    <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4">
        <h1>Editar Penalización</h1>
        <div class="card">
            <div class="card-body">
                <form method="post" action="" class="needs-validation" novalidate>
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="estado">Estado:</label>
                        <select name="estado" class="form-control">
                            <option value="Moroso" {% if penalizacion.Estado == 'Moroso' %}selected{% endif %}>Moroso</option>
                            <option value="Apto" {% if penalizacion.Estado == 'Apto' %}selected{% endif %}>Apto</option>
                        </select>
                    </div>
                    

                    <button type="submit" class="btn btn-primary">Guardar</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
